*
{
    margin: 0;
    padding: 0;
    border: 0;
}
body
{
    width: 800px;
    margin: 0 auto;
}
body main
{
    width: 700px;
    margin: 50px auto;
    padding: 20px 0;
}
body main form
{
    width: 560px;
    margin: 20px auto;
    padding: 20px;
}
body main form div
{
    overflow: hidden;
}
body main form div input
{
    width: 73%;
    float: left;
    margin-bottom: 1em;
}
body main form div label
{
    width: 23%;
    float: left;
    margin-bottom: 1em;
}
body main form div input
{
    text-align: right;
    padding: 1em 2% 1em 0;
}
body main form div label
{
    text-align: left;
    padding: 1em 0 1em 2%;
}
body
{
    background-image: url("https://comunidad.iebschool.com/iebs/files/2015/04/employer-branding.png");
    background-size: 100%;
}
body main
{
    background-color: cornsilk;
    opacity: 0.9;
}

body main section
{
    text-align: center;
}
body main section form
{
    text-align: center;
    background-color: rgb(200, 182, 121);
    border: darkslategrey outset 5px;
    border-radius: 20px;
}
body main section form h2
{
    margin-bottom: 30px;
}
body main section form div label
{
    font-weight: bold;
    text-shadow: 5px 5px 5px #232323;
    border-radius: 30px;
}
body main section form div input
{
    border-radius: 20px;
}
button
{
    min-width: 14%;
    padding: 0.3em;
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
    background-color: #f5b145;
    border: 3px #414141 outset;
    margin:0 3%;
}
button:hover
{
    background-color: #624a23;
    color: #ec9e21;
    border: 3px #414141 inset;
}
section p
{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color: red;
}