/*
    Manuel Solis Gomez
    Licencia: Libre
    Este archivo se aplica en todos los archivps php que aplique el listado
*/
body main section
{
    width: 600px; /*Colocamos el ancho deseado */
    margin: 20px auto; /*Centramos el elemento*/
    overflow: hidden; /*usado para tomar el alto mas superior de sus bloques contenidos flotados*/
    vertical-align: middle; /*centramos los elementos*/
}
body main #aviso
{
    width: 600px; /*colocamos el ancho deseado*/
    margin: 20px auto;/*usa separacion de arriba y abajo y centrado*/
    background-color: transparent; /*quitamos el color que se usamos por defecto*/
    border: none;/* id de aviso elimina los otros elementos de estilos y colocamos*/
}
body main #aviso p
{
    color:red; /*si esta el p dentro de un id de aviso elimina los otros elementos de estilos y colocamos el color rojo*/
    float: none;
    border:none;
    width: auto;
    height: auto;
    padding: 0;
}
body main section img
{
    width: 30px; /*Colocamos el ancho deseado */
    float: left; /*Flotamos los elementos para colocarlos de forma lineal */
    padding-top: 0.4em; /*centramos las imagenes*/
}
body main section p
{
    float: left; /*Flotamos los elementos para colocarlos de forma lineal */
    border: darkslategrey inset 2px;
    width: 251px; /*Colocamos el ancho deseado */
    min-height: 30px; /*Colocamos el alto minimo de los p*/
    padding: 0.6em; /*lo separamos de abajo*/
}
body main article section
{
    background-color: rgb(200, 182, 121);
    border: darkslategrey outset 5px;
}
body main section:nth-child(even)
{
    border-radius: 10px 20px;
}
body main section:nth-child(odd)
{
    border-radius: 20px 10px;
}