/*
    Manuel Solis Gomez
    Licencia: Libre
    Este archivo se aplica en todos los archivps php que aplique formulario
*/
body main form
{
    width: 560px; /*Colocamos el ancho deseado */
    margin: 20px auto; /*Centramos el elemento*/
    padding: 20px; /*Hacemos que no se encuentre pegado al borde los elementos*/
}
body main form div
{
    overflow: hidden; /* Usado para tomar el alto automatico de los elementos flotados contemidos mas alto */
}
body main form div input
{
    width: 73%; /*Colocamos el ancho deseado */
    float: left; /*Flotamos los elementos para colocarlos de forma lineal */
    margin-bottom: 1em; /*Separamos los input uno del otro */
}
body main form div label
{
    width: 23%; /*Colocamos el ancho deseado */
    float: left; /*Flotamos los elementos para colocarlos de forma lineal */
    margin-bottom: 1em; /*Separamos los label uno del otro */
}
body main form div input
{
    text-align: right;
    padding: 1em 2% 1em 0;
}
body main form div label
{
    text-align: left;
    padding: 1em 0 1em 2%;
}
body main section
{
    text-align: center; 
}
body main section form
{
    text-align: center;
    background-color: rgb(200, 182, 121);
    border: darkslategrey outset 5px;
    border-radius: 20px;
}
body main section form div label
{
    font-weight: bold;
    text-shadow: 5px 5px 5px #232323;
    border-radius: 30px;
}
body main section form div input
{
    border-radius: 20px;
}
input[type="submit"], input[type="button"]
{
    min-width: 14%;
    padding: 0.3em;
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
    background-color: #f5b145;
    border: 3px #414141 outset;
    margin:0 3%;
}
input[type="submit"]:hover, input[type="button"]:hover
{
    background-color: #624a23; /*Aplicamos un cambio visual para dar mas estilo a la pagina*/
    color: #ec9e21;
    border: 3px #414141 inset;
}
section p
{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 1em;
}
body main section form h2
{
    margin-bottom: 30px; /*Separamos el titulo del los otros elementos del formulario*/
} 